@model IEnumerable<EM.Presentacion.MVC.Models.Sala.SalaViewModel>
@{
    ViewData["Title"] = "Salas";
    Layout = "_LayoutAdmin";
}

@if (ViewBag.EstablecimientoId != null)
{
    <h4>
        <a class="go-back p-5 m-5" asp-action="Details" asp-controller="Establecimiento" asp-route-id="@ViewBag.EstablecimientoId"><span class="glyphicon glyphicon-backward"></span> Volver A Establecimiento</a>
    </h4>
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="contenedor">
    <form asp-action="Index" asp-route-mostrarTodos="false" asp-route-establecimientoId="@ViewBag.EstablecimientoId">
        <div class="input-group p-5" style="max-width: 350px;">
            <input type="text" class="form-control" placeholder="Sala..." value="@ViewBag.CadenaBuscar" name="cadenaBuscar">
            <div class="input-group-btn">
                <input type="submit" value="Buscar" class="btn btn-default" />
                <a class="btn btn-default" asp-action="Index" asp-route-mostrarTodos="false" asp-route-cadenaBuscar="" asp-route-establecimientoId="@ViewBag.EstablecimientoId"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
        </div>
    </form>
    <div class="p-5">
        <a class="btn btn-default" asp-action="Create" asp-route-establecimientoId="@ViewBag.EstablecimientoId"><span class="glyphicon glyphicon-plus"></span> Nueva</a>

        @if (User.IsInRole("Admin"))
        {
            @if (ViewBag.MostrarTodos)
            {
                <a class="btn btn-default" asp-action="Index" asp-route-mostrarTodos="false" asp-route-cadenaBuscar="@ViewBag.CadenaBuscar" asp-route-establecimientoId="@ViewBag.EstablecimientoId">Ocultar eliminados</a>
            }
            else
            {
                <a class="btn btn-default" asp-action="Index" asp-route-mostrarTodos="true" asp-route-cadenaBuscar="@ViewBag.CadenaBuscar" asp-route-establecimientoId="@ViewBag.EstablecimientoId">Mostrar eliminados</a>
            }
        }
    </div>
</div>

<table class="table table-responsive table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Establecimiento.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Establecimiento.Direccion.Descripcion)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Establecimiento.Direccion.Ubicacion)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.EstaEliminado)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sala in Model)
        {
            <tr>
                <td>
                    @sala.Nombre
                </td>
                <td>
                    @sala.Establecimiento.Nombre
                </td>
                <td>
                    @sala.Establecimiento.Direccion.Descripcion
                </td>
                <td>
                    @sala.Establecimiento.Direccion.Ubicacion
                </td>
                <td>
                    @sala.EstaEliminado
                </td>
                <td>
                    @if (sala.EstaEliminado.Equals("No"))
                    {
                        <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@sala.Id" asp-route-vbEstablecimiento="@ViewBag.EstablecimientoId"><span class="glyphicon glyphicon-zoom-in"></span></a>
                        if (User.IsInRole("Admin"))
                        {
                            <a class="btn-sm btn-success" asp-action="Edit" asp-route-id="@sala.Id" asp-route-vbEstablecimiento="@ViewBag.EstablecimientoId"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn-sm btn-warning" onclick="handleDeleteModalShow('@sala.Nombre-@sala.Id-@ViewBag.EstablecimientoId')"><span class="glyphicon glyphicon-trash"></span></a>
                        }
                    }
                    else
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a class="btn-sm btn-success" onclick="handleDeleteModalShow('@sala.Nombre-@sala.Id-@ViewBag.EstablecimientoId-eliminado')"><span class="glyphicon glyphicon-refresh"></span></a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="delete-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="modal-title"></h3>
            </div>
            <div class="modal-body">
                <p id="delete-message"></p>
            </div>
            <div class="modal-footer">
                <a id="delete-btn" class="btn btn-danger" asp-action="Delete">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const handleDeleteModalShow = (pais) => {
            const name = pais.split('-')[0];
            const id = parseInt(pais.split('-')[1]);
            const establecimientoId = parseInt(pais.split('-')[2]);

            const title = document.getElementById('modal-title');
            const message = document.getElementById("delete-message");
            const btn = document.getElementById("delete-btn");
            btn.setAttribute("href", '/Sala/Delete/' + id + '?vbEstablecimiento=' + establecimientoId);

            if (pais.split('-')[3] === 'eliminado') {
                message.innerText = "Esta seguro que quiere restaurar " + name;
                btn.innerText = "Restaurar";
                title.innerText = "Restaurar sala eliminada";
                btn.classList.add('btn-success');
                btn.classList.remove('btn-danger');
            } else {
                message.innerText = "Esta seguro que quiere eliminar " + name;
                btn.innerText = "Eliminar";
                title.innerText = "Eliminar sala";
                btn.classList.remove('btn-success');
                btn.classList.add('btn-danger');
            }


            $('#delete-modal').modal("show");
        }
    </script>
}