@using System.Collections.Specialized
@model EM.Presentacion.MVC.Models.Evento.EventoViewModel
@{
    ViewData["Title"] = "Detalle Evento";
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <h1>@Model.Nombre</h1>
        <p>@Model.Fecha.ToString("D") - @Model.Establecimiento.Direccion.Ubicacion</p>
        <h2>Sobre el evento</h2>
        <p>@Model.Descripcion</p>
        <p>Cupo: @Model.Cupo - Disponible: @Model.CupoDisponible</p>
        <h2>Actividades</h2>
        @if (!Model.Actividades.Where(a => a.EstaEliminado.Equals("No")).ToList().Any())
        {
            <h3>No tiene actividades asignadas por el momento.</h3>
        }
        else
        {
            foreach (var actividad in Model.Actividades)
            {
                <h3>@actividad.Nombre</h3>
                <p>@actividad.FechaHora - @actividad.Sala.Nombre</p>
                <p>Disertante @actividad.Disertante.ApyNom</p>
                <a asp-controller="Actividad" asp-action="Delete" asp-route-id="@actividad.Id" asp-route-eventoId="@Model.Id" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                <hr />
            }
        }

        <br />
        <p>@Model.Establecimiento.Nombre - @Model.Establecimiento.Direccion.Descripcion - @Model.Establecimiento.Direccion.Ubicacion</p>
        <p>Organiza @Model.Empresa.NombreFantasia - @Model.Empresa.RazonSocial</p>
    </div>
    <div class="col-md-1 col-md-offset-2">
        @if (Model.Fecha.Date > DateTime.Now.Date)
        {
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary m-5" asp-action="Edit" asp-route-id="@Model.Id" asp-route-vbEmpresa="@ViewBag.EmpresaId"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
            }
            <a class="btn btn-primary m-5" asp-controller="Actividad" asp-action="Create" asp-route-eventoId="@Model.Id" asp-route-empresaId="@Model.EmpresaId" asp-route-vbEmpresa="@ViewBag.EmpresaId" asp-route-establecimientoId="@Model.EstablecimientoId" asp-route-fecha="@Model.Fecha.Date.ToString()"><span class="glyphicon glyphicon-bullhorn"></span> Agregar Actividad</a>
            <a class="btn btn-primary m-5" asp-controller="Entrada" asp-action="ListGeneric" asp-route-eventoId="@Model.Id" asp-route-empresaId="@Model.EmpresaId"><span class="glyphicon glyphicon-tag"></span> Tipos de entrada</a>
            <a class="btn btn-primary m-5" asp-controller="Entrada" asp-action="List" asp-route-eventoId="@Model.Id"><span class="glyphicon glyphicon-tags"></span> Entradas venidas</a>
        }
    </div>
</div>




<div>
    <a class="btn btn-default" asp-action="Index" asp-route-empresaId="@ViewBag.EmpresaId"><span class="glyphicon glyphicon-menu-left"></span>Volver a la lista</a>

</div>

